@font-face {
    font-family: "Phantom";
    src: url("/fonts/Phantom@300.woff2") format("woff2");
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: "Phantom";
    src: url("/fonts/Phantom@400.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "Phantom";
    src: url("/fonts/Phantom@500.woff2") format("woff2");
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: "Phantom";
    src: url("/fonts/Phantom@600.woff2") format("woff2");
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: "Phantom";
    src: url("/fonts/Phantom@700.woff2") format("woff2");
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: "Phantom";
    src: url("/fonts/Phantom@800.woff2") format("woff2");
    font-weight: 800;
    font-display: swap;
}
@font-face {
    font-family: "Phantom";
    src: url("/fonts/Phantom@900.woff2") format("woff2");
    font-weight: 900;
    font-display: swap;
}
@import "tailwindcss";

@theme {
    --color-dark-50: #c9c9c9;
    --color-dark-100: #b8b8b8;
    --color-dark-200: #828282;
    --color-dark-300: #696969;
    --color-dark-400: #424242;
    --color-dark-500: #3b3b3b;
    --color-dark-600: #2e2e2e;
    --color-dark-700: #242424;
    --color-dark-800: #1f1f1f;
    --color-dark-850: #1a1a1a;
    --color-dark-900: #141414;
    --color-dark-950: #0d0d0d;

    --color-primary-50: #ffffff;
    --color-primary-100: #f9fafb;
    --color-primary-200: #f3f4f6;
    --color-primary-300: #e5e7eb;
    --color-primary-400: #d1d5db;
    --color-primary-500: #9ca3af;
    --color-primary-600: #6b7280;
    --color-primary-700: #4b5563;
    --color-primary-800: #374151;
    --color-primary-900: #1f2937;
}

@layer base {
    button:not(:disabled),
    [role="button"]:not([aria-disabled="true"]) {
        cursor: pointer;
    }

    button:disabled,
    [role="button"][aria-disabled="true"] {
        cursor: not-allowed;
    }

    *,
    *::before,
    *::after {
        outline: none;
    }

    *:focus,
    *:focus-visible,
    *:active {
        outline: none;
        box-shadow: none;
    }
}

body {
    margin: 0;
    font-family: "Phantom", sans-serif;
    height: 100%;
    background-color: var(--color-dark-950);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
